select {
	border: 1px solid #c0c0c0;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 10px 0 35px 5px;
}

#obstacleoptions {
	width: 165px;
}

/* Note on the importance of entering data.*/
#dataaccuracyreminder {
	margin: 20px 270px 15px 150px
}

#dataaccuracyreminder p {
	color: #005689;
	font-weight: bold;
	font-size: 13px;
}

/* Styling for the person of concern selector. */
.personsofconcern {
	text-align: center;
	width: 85%;
	font-size: 16px;
	/* font-weight:bold;  */
}

/* Styling for the rights group selector. */
.selectrightsgroup {
	text-align: center;
	width: 85%;
}

.selectrightsgroup label {
	cursor: initial;
}

/* Styling for the expand and collapse buttons. */
.showhidediv {
	text-align: right;
	width: 86%;
	margin: 0px 0px 20px 0px;
}

.expandbutton, .collapsebutton {
	background-color: #005689;
	border: none;
	color: white;
	padding: 2px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 11px !important;
	margin: 0px 0px 0px 0px;
	cursor: pointer;
	font-weight: bold;
}

/* Styling for instrument table header. */
.tablehead .tooltiptext {
	visibility: hidden;
	font-size: 12px !important;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	float: right;
}

.tablehead:hover .tooltiptext {
	visibility: visible;
}

input.inputobstacleshead {
	color: #000000;
	font-weight: bold;
	border: none;
	background: transparent;
	cursor: pointer;
}

/* Styling for instrument tables. */
.rightsgrouptablediv {
	/* 	This is the div around every table. */
	margin-bottom: 50px;
}

table.rightsgrpobs {
	border: 1px #DDDDDD solid;
	border-collapse: collapse;
	border-spacing: 0;
	width: 85%;
	/*margin-left: 38px; */
	margin-left: 15px;
}

table.rightsgrpobs th {
	border-style: none;
	text-align: left;
	height: 30px;
	font-size: 15px;
}

table.rightsgrpobs th:hover {
	background-color: #c9c9c9;
	cursor: pointer;
}

table.rightsgrpobs tbody {
	display: none;
}


table.rightsgrpobs td.col1 {
	width: 20%;
}

table.rightsgrpobs td.col2 {
	width: 15%;
}

table.rightsgrpobs td.col3 {
	width: 50%;
}

table.rightsgrpobs td.col4 {
	width: 15%;
	min-width: 180px;
}

table.rightsgrpobs td {
	padding: 8px;
	/* width: 80px; */
	border: 1px #C0C0C0 solid;
}

table.rightsgrpobs tr {
	border-bottom: 2px solid #eeeeee;
	text-align: left;
	font-size: 14px;
}

table.rightsgrpobs tr:nth-child(odd) {
	background-color: #efefef;
}

table.rightsgrpobs tr:nth-child(even) {
	background-color: #ffffff;
}

table.rightsgrpobs tr:nth-child(1) {
	background-color: #dddddd;
	text-align: center;
	font-weight: bold;
}

table.rightsgrpobs td:nth-child(3) {
	text-align: center;
}

table.rightsgrpobs select {
	font-size: 14px;
	margin: 10px 0px 10px 5px;
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

table.rightsgrpobs textarea {
	width: 95%;
	height: 180px;
	resize: vertical;
	font-size: 14px;
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

/* Styling for the "Groups Affected by Obstacles" column. */
#groupaffected {
	float: left;
	margin-right: 15px;

}

#groupaffected input[type=text] {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-color: #dddddd;
	width: 80%;
 	background-color: white; 
	font-size:13px;	
	font-family: Calibri, Arial, Helvetica, sans-serif;
	
	
}

#groupaffected label {
	font-size:13px;	
	font-family: Calibri, Arial, Helvetica, sans-serif;
}
#addgroupaffectedbutton {
	margin-top: 15px;
	padding-left: 40%;
	float:left;
}

#groupaffected input[type=checkbox] {
  transform: scale(.9);
}

.addgroupbutton {
	background-color: #005689;
	border: none;
	color: white;
	padding: 2px 4px;
	text-align: center;
	text-decoration: none;
	font-size: 11px !important;
	margin: 0px 0px 0px 0px;
	cursor: pointer;
	font-weight: bold;	
	
}

/* Styling for the button to remove tables. */
.removebuttondiv {
	text-align: right;
	width: 83%;
	margin: 0px 0px 40px 0px;
}

input.removebutton {
	background-color: #005689;
	border: none;
	color: white;
	padding: 2px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 11px !important;
	/* margin: 0px 0px 0px 38px; */
	cursor: pointer;
	font-weight: bold;
}

/*Styling for narrative answer text boxes.*/
textarea.narrativeanswers {
	width: 700px;
	height: 170px;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-left: 20px;
}

/*Styling for "other" input fields.*/
table.rightsgrpobs input[type=text] {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-color: #dddddd;
	width: 100%;
	background-color: #efefef;
}

#other2name {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-color: #dddddd;
	width: 100%;
	background-color: #ffffff;
}

/*Styling for Rights Category Subcategories.*/
p.obstaclesub {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 17px !important;
	font-weight: bold;
	margin: 10px 0 35px 0px;
}

/* Styling for the obstacle documents. */
#obstacleDocumentationSection {
	padding-left: 30px;
}

#obstacleDocumentationSection a {
	font-size: 16px !important;
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

/* Styling for the upload file section. */
#uploadButtonsSection {
	padding-left: 30px;
}

#upLoadFileButton {
	font-size: 12px !important;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	background-color: #005689;
	border: none;
	color: white;
	padding: 3px 10px;
	cursor: pointer;
	text-decoration: none;
}

input[type="file"]#uploadbutton {
	display: none;
}

.browsefile {
	font-size: 12px !important;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	background-color: #005689;
	border: none;
	color: white;
	padding: 3px 10px;
	cursor: pointer;
	text-decoration: none;
}

.inputfilename {
	display: inline-block;
	width: 20%;
	margin-left: 5px;
	border: none;
}

p.uploadfilesuccess {
	font-size: 14px !important;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	color: #005689;
	font-weight: bold;
	margin-top: 8px;
}

input#showHideUpload {
	font-size: 12px !important;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	background-color: #005689;
	border: none;
	color: white;
	padding: 3px 10px 3px 10px;
	margin-top: 20px;
	cursor: pointer;
	text-decoration: none;
}

/* Span for colouring text blue. */
.bluetext {
	color: #005689;
}