/* Report title for the print and HTML version of the report.*/
.reportTitleDivNoPrint {
	display: block;
}
.reportTitleDivPrint {
	display: none;
}


/* Styling for the title of the report.  */
#content-onecolumn h1 {
	font-size: 30px;
	padding: 10px 0px 0px 0px;
	color: #005689;
	font-weight: bold;
	text-align: center;
}

.reportTitleDateDiv {
	font-size: 25px;
	padding: 10px 0px 0px 0px;
	color: #005689;
	font-weight: bold;
	text-align: center;
}

/* Styling for the HTML report left column table of contents.  */
#content-container {
	margin-left: 3% !important;
}

#left-col {
	/*border-right: 6px solid #DDDDDD;*/
	width: 320px;
	padding-right: 0px !important;
}

#left-index {
	overflow-y: scroll;
	height: 90%;
	max-width: 320px !important;
}

.tableofcontents_htmlreport {
	margin-left: 20px;
	margin-bottom: 40px;
	
}

.tableofcontents_htmlreport p {
	font-size: 18px !important;
	text-align: center;
}

a.tableofcontentshead {
	font-size: 16px !important;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 10px;
	display: block;
	margin-left: 5px;
}

a.tableofcontentssub1 {
	font-size: 16px !important;
	text-decoration: none;
	margin-left: 20px;
	display: block;
	margin-bottom: 10px;
}

a.tableofcontentssub2 {
	font-size: 14px !important;
	text-decoration: none;
	margin-left: 35px;
	display: inline-block;
	margin-bottom: 10px;
}

.tableofcontentssubNum {
	display: inline-block;
	margin-right: 5px;
}

.tableofcontentssubText {
	display: inline-block;
	/* width: 200px; */
	width: 80%;
	vertical-align: top;
}

/* Styling for the first 5 questions of the Country's Constitution section.  */
p.consitutionindent {
	margin-left: 20px;
}

a.refworldlink {
	margin-left: 20px;
}

a.refworldlink:link {
	border: none;
	color: #005689;
	padding: 3px 10px;
	font-size: 18px !important;
	cursor: pointer;
	font-size: 14px !important;
	text-decoration: none;
}

a.refworldlink:visited {
	color: #005689;
}

a.refworldlink:hover {
	text-decoration: none;
}

/* Applicability of rights to POCs table.  */
table.constpersons {
	border: 1px #DDDDDD solid;
	border-collapse: collapse;
	border-spacing: 0;
	width: 95%;
	margin-left: 20px;
}

table.constpersons  thead {
	background: #DDDDDD;
	border-bottom: 1px #DDDDDD solid;
	font-weight: bold;
}

table.constpersons th {
	padding: 8px;
	text-align: center;
	border: 1px #C0C0C0 solid;
}

table.constpersons td {
	padding: 8px;
	/* width: 80px; */
	border: 1px #C0C0C0 solid;
}

table.constpersons td:nth-child(1) {
	width: 25%;
}

table.constpersons td:nth-child(2) {
	text-align: center;
	width: 25%;
}

table.constpersons td:nth-child(3) {
	text-align: left;
	width: 50%;
}

table.constpersons tr {
	border-bottom: 2px solid #eeeeee;
	font-size: 14px;
}

table.constpersons tr:nth-child(even) {
	background-color: #efefef;
}

/* Styling for A.2. */
p.legalsystemindent {
	margin-left: 20px;
}

/* A.2 Styling. Judicial entities/courts table.  */
table.a2Tables {
	border: 1px #DDDDDD solid;
	border-collapse: collapse;
	border-spacing: 0;
	width: 95%;
	margin-left: 20px;
}

table.a2Tables  thead {
	background: #DDDDDD;
	border-bottom: 1px #DDDDDD solid;
	font-weight: bold;
}

table.a2Tables th {
	padding: 8px;
	text-align: center;
	border: 1px #C0C0C0 solid;
}

table.a2Tables td {
	padding: 8px;
	/* width: 80px; */
	border: 1px #C0C0C0 solid;
}

table.a2Tables td:nth-child(1) {
	width: 25%;
}

table.a2Tables td:nth-child(2) {
	text-align: center;
	width: 15%;
}

table.a2Tables td:nth-child(3) {
	text-align: center;
	width: 15%;
}

table.a2Tables td:nth-child(4) {
	text-align: center;
	width: 15%;
}

table.a2Tables td:nth-child(5) {
	text-align: center;
	width: 15%;
}

table.a2Tables td:nth-child(6) {
	text-align: center;
	width: 15%;
}

table.a2Tables tr {
	border-bottom: 2px solid #eeeeee;
	font-size: 14px;
}

table.a2Tables tr:nth-child(even) {
	background-color: #efefef;
}

/* A.3 Styling. International Instruments.  */
table.a3IntTables {
	border: 1px #DDDDDD solid;
	border-collapse: collapse;
	border-spacing: 0;
	width: 95%;
	margin-left: 20px;
}

table.a3IntTables  thead {
	background: #DDDDDD;
	border-bottom: 1px #DDDDDD solid;
	font-weight: bold;
}

table.a3IntTables th {
	padding: 8px;
	text-align: center;
	border: 1px #C0C0C0 solid;
}

table.a3IntTables td {
	padding: 8px;
	/* width: 80px; */
	border: 1px #C0C0C0 solid;
}

table.a3IntTables td:nth-child(1) {
	width: 25%;
}

table.a3IntTables td:nth-child(2) {
	width: 75%;
}

table.a3IntTables tr {
	border-bottom: 2px solid #eeeeee;
	font-size: 14px;
	page-break-inside: avoid;
}

table.a3IntTables tr:nth-child(even) {
	background-color: #efefef;
}

/* A.3 Styling--National Instruments. */

/* Styling for the separators. */
.separatorstyling {
	color: black;
	text-align: center !important;
	background-color: #f8eec2;
	font-weight: bold;
	padding: 5px !important;
}

table.a3NatTables {
	border: 1px #DDDDDD solid;
	border-collapse: collapse;
	border-spacing: 0;
	width: 95%;
	margin-left: 20px;
}

table.a3NatTables td:nth-child(1) {
	width: 25%;
}

table.a3NatTables td:nth-child(2) {
	width: 75%;
}

a.refworldlinknat:link {
	border: none;
	color: #005689;
	font-size: 18px !important;
	cursor: pointer;
	font-size: 14px !important;
	text-decoration: none;
}

a.refworldlinknat:visited {
	color: #005689;
}

a.refworldlinknat:hover {
	text-decoration: none;
}

/* Styling for the Analytics charts and tables. */

/* Analytics findings. */
#findingstablediv {
	margin-bottom: 50px;
}

table#obstacleskeyfindings {
	border: 1px #DDDDDD solid;
	border-collapse: collapse;
	border-spacing: 0;
	width: 60%;
	margin-left: 150px;
	margin-top: 20px;
}

#findingstable-missingdata {
	margin: 0px 25% 30px 150px
}

#findingstable-missingdata p {
	/*color: #cc0000;*/
	color: #005689;
	font-weight: bold;
	font-size: 13px;
}

/* Styling for the consistency with international standards tables and charts. */
#detail-consistency-chart-table {
	margin-left: 50px;
	margin-bottom: 50px;
	width: 80%;
	min-width: 310px;
}

#detail-consistency-chart {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 40px;
	width: 80%;
	min-width: 310px;
	height: 600px;
}

#detail-consistency-table {
	margin-top: 20px;
	margin-bottom: 50px;
	width: 80%;
	min-width: 310px;
	width: 80%;
}

#consistencyinternationaltabletitle, #consistencyinternationaltable {
	border: 1px #DDDDDD solid;
	border-collapse: collapse;
	border-spacing: 0;
	width: 75%;
	margin-left: 150px;
}

table#consistencyinternationaltable th {
	border-style: none;
	height: 30px;
	background-color: #dddddd;
	text-align: center;
	font-weight: bold;
}

table#consistencyinternationaltable th:hover {
	background-color: #c9c9c9;
	cursor: pointer;
}

table#consistencyinternationaltable tr {
	border-bottom: 2px solid #eeeeee;
	text-align: center;
	font-size: 14px;
}

table#consistencyinternationaltable tbody td:nth-child(1) {
	text-align: left;
}

p#consistencyfootnote {
	margin-left: 45px;
	width: 60%;
	font-size: 14px;
}

#summary-poc-natinstsruments-chart {
	margin-left: 50px;
	margin-top: 20px;
	width: 70%;
	min-width: 310px;
	height: 500px;
}

#detail-poc-natinstsruments-table {
	margin-top: 20px;
	width: 100%;
	min-width: 310px;
	margin-bottom: 50px;
}

#summary-poc-obstacles-chart {
	margin-left: 50px;
	margin-top: 20px;
	width: 70%;
	min-width: 310px;
	height: 500px;
}

#detail-poc-obstacles-chart {
	margin-left: 50px;
	margin-top: 20px;
	width: 80%;
	min-width: 310px;
	height: 600px;
}

#detail-poc-obstacles-table {
	margin-top: 20px;
	width: 100%;
	min-width: 310px;
	margin-bottom: 50px;
}

#detail-poc-obstacles-rightgroups-chart {
	margin-top: 20px;
	margin-left: 50px;
	width: 80%;
	min-width: 310px;
	height: 600px;
}

#detail-poc-obstacles-rightgroups-table {
	margin-top: 20px;
	width: 100%;
	min-width: 310px;
	margin-bottom: 50px;
}

table#tabletitle {
	border: 1px #DDDDDD solid;
	border-collapse: collapse;
	border-spacing: 0;
	width: 75%;
	margin-left: 80px;
}

table#obstaclesdetail {
	border: 1px #DDDDDD solid;
	border-collapse: collapse;
	border-spacing: 0;
	width: 75%;
	margin-left: 80px;
}

table#obstaclesdetail th {
	border-style: none;
	height: 30px;
	background-color: #dddddd;
	text-align: center;
	font-weight: bold;
}

table#obstaclesdetail th:hover {
	background-color: #c9c9c9;
	cursor: pointer;
}

table#obstaclesdetail td {
	padding: 8px;
	/* width: 80px; */
	border: 1px #C0C0C0 solid;
}

table#obstaclesdetail tr {
	border-bottom: 2px solid #eeeeee;
	text-align: center;
	font-size: 14px;
}

table#obstaclesdetail tbody td:nth-child(1) {
	text-align: left;
}

table#obstaclesdetail tbody tr:nth-child(odd) {
	background-color: #efefef;
}

table#obstaclesdetail tbody tr:nth-child(even) {
	background-color: #ffffff;
}

table#obstaclesdetail tfoot {
	border-style: none;
	height: 30px;
	background-color: #dddddd !important;
	font-weight: bold;
}

/*Styling for the Obstacles section of the report. */
table.rightsgrpobs {
	border: 1px #DDDDDD solid;
	border-collapse: collapse;
	border-spacing: 0;
	width: 95%;
	margin-left: 20px;
}

table.rightsgrpobs th {
	border-style: none;
	text-align: center;
	height: 30px;
	font-size: 15px;
	background-color: #dddddd;
}

tr.tableheadings {
	
}

table.rightsgrpobs th.col1 {
	width: 20%;
}

table.rightsgrpobs th.col2 {
	width: 15%;
}

table.rightsgrpobs th.col3 {
	width: 50%;
}

table.rightsgrpobs th.col4 {
	width: 15%;
}

table.rightsgrpobs td {
	text-align: left;
}

table.rightsgrpobs td {
	padding: 8px;
	/* width: 80px; */
	border: 1px #C0C0C0 solid;
}

table.rightsgrpobs tr {
	border-bottom: 2px solid #eeeeee;
	text-align: left;
	font-size: 14px;
}

table.rightsgrpobs tr:nth-child(odd) {
	background-color: #ffffff;
}

table.rightsgrpobs tr:nth-child(even) {
	background-color: #efefef;
}

table.rightsgrpobs tr:nth-child(1) {
	text-align: center;
}

/* Styling for the obstacle documents. */
#obstacleDocumentationSection {
	padding-left: 30px;
}

#obstacleDocumentationSection a {
	font-size: 16px !important;
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

/* Missing data note. */
#belowchart-missingdata {
	margin: 15px 300px 30px 150px
}

#belowchart-missingdata p {
	/*color: #cc0000;*/
	color: #005689;
	font-weight: bold;
	font-size: 13px;
}

/* Span for colouring text blue. */
.bluetext {
	color: #005689;
}

.boldbluetext {
	color: #005689;
	font-weight: bold;
}

/* Span for missing data asterisks. */
.missingDataAsterisk {
	/*color: #cc0000;*/
	color: #005689;
	font-weight: bold;
}

/* Narrative Analysis Styling. */
.narrativeanswer {
	margin-left: 20px;
}

/* Button for generating the PDF file. */
.genPDFbutton {
	height: 30px;
}



/* Link to the HTML report. */
a.linkbutton {
	background-color: #005689;
	border: none;
	color: white;
	padding: 10px 30px;
	text-align: right;
	text-decoration: none;
	display: inline-block;
	font-size: 18px !important;
	margin: 0px 0px 0px 0px;
	cursor: pointer;
}

/* Span for colouring text blue. */
.bluetext {
	color: #005689;
}