<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>LegalMappingTool_Dev</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>legalmaptooluserdev</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>JSP Files</web-resource-name>
			<description>No direct access to JSP files</description>
			<url-pattern>/header.jsp</url-pattern>
			<url-pattern>/menu.jsp</url-pattern>
			<url-pattern>/menuglobal.jsp</url-pattern>
			<url-pattern>/feedback.jsp</url-pattern>
			<url-pattern>/footer.jsp</url-pattern>
			<url-pattern>/authentication.jsp</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>No direct browser access to JSP files</description>
			<role-name>NobodyHasThisRole</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>LegalMappingTool_Dev</realm-name>
	</login-config>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<display-name>Controller</display-name>
		<servlet-name>Controller</servlet-name>
		<servlet-class>controller.Controller</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>BaseController</display-name>
		<servlet-name>BaseController</servlet-name>
		<servlet-class>controller.BaseController</servlet-class>
	</servlet>
	<servlet>
		<display-name>DataCollectionController</display-name>
		<servlet-name>DataCollectionController</servlet-name>
		<servlet-class>controller.DataCollectionController</servlet-class>
	</servlet>
	<servlet>
		<display-name>AnalyticalToolCollector</display-name>
		<servlet-name>AnalyticalToolCollector</servlet-name>
		<servlet-class>controller.AnalyticalToolCollector</servlet-class>
	</servlet>
	<servlet>
		<display-name>AnalyticalToolController</display-name>
		<servlet-name>AnalyticalToolController</servlet-name>
		<servlet-class>controller.AnalyticalToolController</servlet-class>
	</servlet>
	<servlet>
		<display-name>ReportingController</display-name>
		<servlet-name>ReportingController</servlet-name>
		<servlet-class>controller.ReportingController</servlet-class>
	</servlet>
	<servlet>
		<display-name>FeedbackController</display-name>
		<servlet-name>FeedbackController</servlet-name>
		<servlet-class>controller.FeedbackController</servlet-class>
	</servlet>
	<servlet>
		<display-name>UploadController</display-name>
		<servlet-name>UploadController</servlet-name>
		<servlet-class>controller.UploadController</servlet-class>
	</servlet>
	<servlet>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>controller.Login</servlet-class>
	</servlet>
	<servlet>
		<display-name>LogOut</display-name>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>controller.LogOut</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/Controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BaseController</servlet-name>
		<url-pattern>/BaseController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataCollectionController</servlet-name>
		<url-pattern>/DataCollectionController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnalyticalToolCollector</servlet-name>
		<url-pattern>/AnalyticalToolCollector</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnalyticalToolController</servlet-name>
		<url-pattern>/AnalyticalToolController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportingController</servlet-name>
		<url-pattern>/ReportingController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FeedbackController</servlet-name>
		<url-pattern>/FeedbackController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadController</servlet-name>
		<url-pattern>/UploadController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Login</welcome-file>
	</welcome-file-list>


</web-app>